<!-- Navbar -->

  <!--

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="container">
     
    
      
      
      
      
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Shopping Cart</a>
        </li>
      </ul>
      

      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-secondary px-3 me-2"  onclick="location.href='/login'">
          Login
        </button>
        <button type="button" class="btn btn-primary me-3" onclick="location.href='/signup  '">
          Sign up for free
        </button>
        
      </div>
    </div>
    
  </div>
  
</nav>

-->

<router-outlet></router-outlet> 

