

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">      
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Shopping Cart</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-danger px-3 me-2"  (click) = "logout()">
          Logout
        </button>
      </div>
    </div>
    
  </div>
</nav>

<!-- Product Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addProductForm">
          
            <input type="text" class="form-control" formControlName="title" id="product_title" placeholder="Product title"><br>
            <input type="text" class="form-control" formControlName="description" id="product_Description" placeholder="Product description"><br>
            <input type="text" class="form-control" formControlName="category" id="product_category" placeholder="Product category"><br>
            <input type="text" class="form-control" formControlName="vendor" id="product_vendor" placeholder="Product vendor"><br>
            <input type="number" class="form-control" formControlName="price" id="product_price" placeholder="Product price"><br>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click) = "addNewProduct()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Vendor Modal -->
<div class="modal fade" id="vendorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addVendorForm">
          
            <input type="text" class="form-control" formControlName="user_name" id="user_name" placeholder="Vendor name"><br>
            <input type="text" class="form-control" formControlName="user_email" id="user_email" placeholder="Vendor Email"><br>
            <input type="number" class="form-control" formControlName="user_phone" id="user_phone" placeholder="Vendor Phone"><br>
            <input type="text" class="form-control" formControlName="user_address" id="user_address" placeholder="Vendor address"><br>
            <input type="text" class="form-control" formControlName="role" id="role" placeholder="Select role as vendor"><br>
            <input type="text" class="form-control" formControlName="user_password" id="user_password" placeholder="Vendor password"><br>

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click) = "addNewVendor()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
    
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModal">
  Add product
</button>
<br>





    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Vendor</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of data | paginate: {
                    id:'product_pagination',
                 itemsPerPage: 3, 
                 currentPage: page1,
                totalItems: totalProducts }" >
                <td>{{product.title}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.category}}</td>
                <td>{{product.vendor}}</td>
                <td><button class="btn btn-secondary" (click) = "updateProduct(product)"  >Update</button></td>
                <td><button class="btn btn-danger" (click) = "deleteProduct(product.id)"  >Delete</button></td>
            </tr>
            <pagination-controls id="product_pagination"
            (pageChange)="page1 = $event"
             
            ></pagination-controls>
        </tbody>
    </table>
</div>


<div class="container">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vendorModal">
    Add Vendor
  </button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone </th>
                <th>Email</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vendor of vendors | paginate: {
                    id:'vendor_pagination',
                 itemsPerPage: 3, 
                 currentPage: page2,
                totalItems: totalVendors }" >
                <td>{{vendor.user_name}}</td>
                <td>{{vendor.user_phone}}</td>
                <td>{{vendor.user_email}}</td>
                <td>{{vendor.user_address}}</td>
                <td><button class="btn btn-secondary" (click) = "updateVendor(vendor)">Update</button></td>
                <td><button class="btn btn-danger" (click) = "deleteVendor(vendor.id)" >Delete</button></td>
            </tr>
            <pagination-controls id="vendor_pagination"
            (pageChange)="page2 = $event"
             
            ></pagination-controls>
        </tbody>
    </table>
</div>

